body {
    background-image: url(./img/taustakuva.jpg);
}
.header-row {
    display: flex;
    flex-direction: row;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: rgb(239, 92, 224);
    padding-left: 15px;
    padding-top: 5px;
    color: rgb(43, 27, 216);
    margin: 10px;
    border-radius: 10%;
    box-sizing: border-box;
}

.lompakko {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(197, 221, 17);
    margin: 10px; 
    border-radius: 10%;
    box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
    .header, .lompakko, .left, .middle, .right {
        flex: 1;
    }
}
img {
    height: 50px;
    width: auto;
    margin: 7px;
}
.container {
    display: flex;
    flex-direction: row;
}
.column {
    margin-left: 10px;
    margin-right: 10px;
    border-style: dashed;
    border-color: rgb(220, 20, 197);
    background-color: rgb(168, 77, 220);
}
.left, .right {
    flex: 1;
    padding: 20px;
}
.middle {
    display: grid;
    grid-template-columns: auto auto auto;
    flex: 2;
    padding: 5px;
}
.left img {
    height: 15px;
    width: auto;
    margin: 3px;
}
.middle img, .kerätyt img {
    height: 20px;
    width: auto;
}
.repussa {
    display: grid;
    grid-template-columns: auto auto;
}

.reppu {
    height: 100px;
    width: auto;
}
.kerätyt {
    display: flex;
    align-items: center;
    font-size: large;
}
.kerätyt p {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}
.timanttikauppa {
    display: flex;
    justify-content: center; 
    flex: 2;
    background-color: rgb(204, 89, 185);
    color: rgb(17, 70, 89);
    margin: 10px;
    border-radius: 20%;
}
.image-row {
    display: flex;
    align-items: center;
}
.sell {
    height: 80px;
    width: auto;
}
#nuoli {
    margin-left: -10px;
    margin-right: 15px;
    height: 50px;
    width: auto;
    animation: moveBackFourth 2s linear infinite;
}
@keyframes moveBackFourth {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(15px);
    }
}

.lompakko h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.alacontainer {
    display: flex;
}
#rahaa {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    margin-top: 4px;
    margin-bottom: 4px;
}