body {
    margin: 0;
    background-image: url(./img/taustakuva.jpg);
}
.header {
    display: flex;
    background-color: rgb(239, 92, 224);
    padding: 15px;
    color: rgb(43, 27, 216);
}
img {
    height: 50px;
    width: auto;
    margin: 7px;
}
.ohjeistus {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.column {
    margin: 10px 10px;
    border-style: dashed;
    border-color: rgb(220, 20, 197);
    background-color: rgb(168, 77, 220);
}
.left, .right {
    flex: 1;
    padding: 20px;
}
.middle {
    display: grid;
    grid-template-columns: auto auto auto;
    flex: 2;
    padding: 5px;
    max-width: 300px;
}
li img {
    height: 15px;
    width: auto;
    margin: 3px;
}
.middle img {
    height: 20px;
    width: auto;
}
.column .right #keltsu {
    display: inline;
    vertical-align: middle;
}
.right img {
    height: 20px;
    width: auto;
}