body {
    background-image: url(./img/taustakuva.jpg);
}
* {
    box-sizing: border-box;
}
.header-row {
    display: flex;
    flex-direction: row;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: rgb(239, 92, 224);
    color: rgb(43, 27, 216);
    margin: 10px;
    border-radius: 10%;
    box-sizing: border-box;
}

.lompakko {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(197, 221, 17);
    margin: 10px; 
    border-radius: 10%;
    box-sizing: border-box;
}

img {
    height: 50px;
    width: auto;
    margin: 7px;
}
.kontti {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.column {
    margin-left: 10px;
    margin-right: 10px;
    border-style: dashed;
    border-color: rgb(220, 20, 197);
    background-color: rgb(168, 77, 220);
}
.left, .right {
    width: 50%;
    padding: 5px;
}
.middle {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    padding: 5px;
}
.left img {
    height: 15px;
    width: auto;
    margin: 3px;
}
.middle img, .ker채tyt img {
    height: 20px;
    width: auto;
}

.reppu {
    height: 100px;
    width: auto;
}
.ker {
    display: flex;
    flex-direction: column;
}
.ker채tyt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    display: inline;
}
.ker채tyt p {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}
.timanttikauppa {
    display: flex;
    justify-content: center; 
    flex: 2;
    background-color: rgb(204, 89, 185);
    color: rgb(17, 70, 89);
    margin: 10px;
    border-radius: 20%;
}
.image-row {
    display: flex;
    align-items: center;
}
.sell {
    height: 80px;
    width: auto;
}
#nuoli {
    margin-left: -10px;
    margin-right: 15px;
    height: 50px;
    width: auto;
    animation: moveBackFourth 2s linear infinite;
}
@keyframes moveBackFourth {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(15px);
    }
}

.lompakko h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.alacontainer {
    display: flex;
}
#rahaa {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    margin-top: 4px;
    margin-bottom: 4px;
}

@media (max-width: 992px) {
    .kontti {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        width: 98%;
    }
    .left, .middle, .right {
        width: 100%;
    }
    
    .ker {
        display: flex;
        flex-direction: row;
    }
    .ker채tyt {
        display: flex;
        flex-direction: row;
        display: inline;
        align-items: center;
        font-size: medium;
    }
}